<div class="jumbotron">
    <div class="container">
<h2> contact us page </h2>
<p> heres a lsit of my soscial account where you chose which prefer to contact me throw:</p>
<ul>
<li>facebook</li>
<li>twiter</li>
<li>email</li>
<li>direct call/whatsapp</li>
</ul>
</div>
</div>